@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  /* font-family: Arial, Helvetica, sans-serif; */
}

@keyframes ringAnimation {
    0% { box-shadow: 0 0 10px #edd74c; }  /* Pink */
    25% { box-shadow: 0 0 10px #ff9900; } /* Orange */
    50% { box-shadow: 0 0 10px #33b184; } /* Green */
    75% { box-shadow: 0 0 10px #ff9900; } /* Blue */
    100% { box-shadow: 0 0 10px #edd74c; } /* Back to Pink */
}

.focus\:ring-animated-ring:focus {
    animation: ringAnimation 1.5s infinite linear;
}

